:root {
    font-family: 'DM Sans', sans-serif;
    color: #155e75;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    background-color: white;
}

.header > * {
    margin-bottom: .25rem;
}

.add-book {
    color: white;
    background-color: #38bdf8;
    border-radius: .25rem;
    padding: .3rem;
    cursor: pointer;
}

.new-book-modal {
    display: none;
    position: fixed;
    top: 25%;
    right: 32rem;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 25dvw;
    height: auto;
    aspect-ratio: 2/1;
    padding: 1rem;
    gap: .1rem;
    background-color: rgba(165, 243, 252, .6);
    border-radius: .25rem;
    box-shadow: 0px 6px 5px 0px rgba(165, 243, 252, 1);
}

.new-book-modal.show {
    display: flex;
    position: fixed;
    top: 25%;
    right: 35%;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 25dvw;
    height: auto;
    aspect-ratio: 2/1;
    padding: 1rem;
    gap: .1rem;
    background-color: rgba(165, 243, 252, .6);
    border-radius: .25rem;
    box-shadow: 0px 6px 5px 0px rgb(2, 2, 2, .4);
}

.new-book-modal h2 {
    align-self: center;
}

.new-book-modal > input {
    width: 20dvw;
}

.new-book-modal > button {
    appearance: none;
    background-color: #f472b6;
    border: none;
    color: white;
    border-radius: .25rem;
    padding: .25rem;
    align-self: center;
    cursor: pointer;
}

.new-book-modal input {
    border: none;
    border-radius: .25rem;
}

.library-container {
    display: grid;
    grid-template-rows: 2rem;
    grid-auto-rows: 2rem;
    row-gap: .25rem;
    column-gap: .25rem;
}

.col-labels {
    display: grid;
    grid-template-columns: 3fr 2fr repeat(3, 1fr);
    font-size: 1.25rem;
    border-top: 2px solid #f472b6;
    border-bottom: 2px solid #f472b6;
    vertical-align: center;
    text-align: center;
}

.library-container > div {
    display: grid;
    grid-template-columns: 3fr 2fr repeat(3, 1fr);
    vertical-align: bottom;
    text-align: center;
    font-size: 1.25rem;
    gap: .25rem;
}

.library-container > .book {
    border-bottom: 1px solid black;
    padding-bottom: .1rem;
}

#remove {
    background-color: #f472b6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    cursor: pointer;
}

.Read,
.Unread {
    cursor: pointer;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Read {
    background-color: #155e75;
    color: white;
}

.Unread {
    background-color: #38bdf8;
    color: white;
}